/* MAIN */
main{
    height: calc(100vh - 100px);
}

aside{
    width: 230px;
    height: 100%;
    background-color: black;
    color: white;
}

#small-logo{
    display: none;
}

#side-top-nav{
    height: calc(100% - 70px);
}
#side-bottom-nav{
    height: 70px;
}

#central{
    width: calc(100% - 230px);
    overflow: auto;
    padding-left: 15px;
    background-color: rgb(20, 25, 34);
    color: white;
}

/* button */
main #button{
    width: calc(100% - 230px);
    position: fixed;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(8, 11, 18, 0.8);
}

main #button button{
    padding: 20px;
    margin-right: 5px;
}

/* top-menu */
#central-menu{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 20px;
}

#central-menu li{
    display: inline-block;
    margin-right: 10px;
}

/* first-div-music */
#div-music .disc{
    width: calc(100% / 6);
    padding-right: 10px;
}

#div-music img{
    width: 100%;
}
/* FOOTER */
footer{
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 40);
    color: white;
}

#controller{
    width: 40%;
}

#volume{
    width: 230px;
}

/* MEDIA SECTION */

@media all and (max-width: 1024px){
    #div-music .disc{
        width: 25%;
        padding-right: 10px;
    }
    
}

@media all and (max-width: 767px){
    #div-music .disc{
        width: 50%;
        padding-right: 10px;
    }
}
@media all and (max-width: 419px){
    aside{
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #central{
        width: calc(100% - 50px);
    }

    main #button{
        width: calc(100% - 50px);
    }

    #big-logo{
        display: none;
    }

    #home-search-library span{
        display: none;
    }

    #playlist{
        display: none;
    }

    #small-logo{
        display: block;
        margin-top: 5px;
    }

    #home-search-library li{
        margin-top: 5px;
    }

    #home-search-library button{
        border: none;
        background-color: black;
        color: white;
    }

    #side-bottom-nav span{
        display: none;
    }

    #side-bottom-nav{
        text-align: center;
    }

    #side-bottom-nav button{
        margin-bottom: 20px;
        background-color: rgb(162, 162, 162);
        color: black;
        border: none;
        border-radius: 50%;
    }
}