/* UTILITIES */
.flex{
    display: flex;
}

.h100{
    height: 100px;
}

.flex-wrap{
    flex-wrap: wrap;
}

.float-left{
    float: left;
}

.grey{
    color: rgb(127, 129, 133);
    font-weight: bold;
}

.p-bottom-20{
    padding-bottom: 20px;
}